{{!
  Score
  Character count
  Word count
  Sentiment
  Word balance
  Advice
}}

<h3>Headline Analysis Score: {{score}} </h3>

<div class='{{charCountSentiment}}'>
  {{#if charCountGood}}
    &#10004; The headline's character count seems fine.
    You're at {{charCountLength}}, scoring {{charCountScore}} / 100.
  {{else}}
    &bigotimes; Character length could be better. Aim for 55 or so characters.
    You're now at {{charCountLength}}, scoring {{charCountScore}} / 100.
  {{/if}}
</div>
{{#if hasCharCountSuggestions}}
  <div class='{{charCountSentiment}}'>
    {{charCountMessage}} {{charCountSuggestion}}
  </div>
{{/if}}

<div class='{{wordCountSentiment}}'>
  {{#if wordCountGood}}
    &#10004; The headline's word count count seems fine.
    You're at {{wordCountLength}}, scoring {{wordCountScore}} / 100.
  {{else}}
    &bigotimes; Word count could be better. Aim for 6 words for best results.
    You're now at {{wordCountLength}}, scoring {{wordCountScore}} / 100.<br>
  {{/if}}
</div>
{{#if hasWordCountSuggestions}}
  <div class='{{wordCountSentiment}}'>
    {{wordCountMessage}} {{wordCountSuggestion}}
  </div>
{{/if}}

<div class='{{sentimentSummary}}'>
  {{#if sentimentGood}}
     &#10004; The sentiment looks good!
  {{else}}
    &bigotimes; Your sentiment is neutral.
    Good clickbait is either strongly positive or negative.
  {{/if}}
</div>

<div class='{{wordBalanceSentiment}}'>
  {{#if wordBalanceGood}}
     &#10004; The word balance seems fine.
  {{else}}
    &bigotimes; Your word balance is off.
  {{/if}}
</div>
{{#unless wordBalanceGood}}
  {{#if commonWordsInHeadline}}
    <div class='{{wordBalanceSentiment}}'>
      {{wordBalanceMessage}} {{wordBalanceSuggestion}}
    </div>
  {{/if}}
  <ul>
    <li>
      <span class='bold score'>{{wordBalancePercentage}} %</span> of your words are common.
      Common words make up the basic structure of readable headlines.
      Great headlines are usually made up of 20-30% common words.
      <span class='bold'>Common words are words like: a, about, after, and, her, how, this, why, these, what, your, things...</span>
    </li>
    <li>
      <span class='bold score'>{{wordBalanceUncommonPercentage}} %</span> of your words are uncommon.
      Uncommon words occur less frequently than common words, but give your headline substance.
      Great headlines are usually made up of 10-20% uncommon words.
      <span class='bold'>Examples: actually, awesome, baby, beautiful, heart, here, more, right, see, social, world, year...</span>
    </li>
    <li>
      <span class='bold score'>{{wordBalanceEmotionalPercentage}} %</span> of your words are emotional.
      Emotional words frequently stir an emotional response in the reader. They have been proven to drive clicks and shares.
      Great headlines are usually made up of 10-15% emotional words.
      <span class='bold'>Examples: absolutely, attractive, blissful, bravery, confessions, danger, dollar,
      spotlight, valuable, worry, wonderful, zinger...</span>
    </li>
    <li>
      <span class='bold score'>{{wordBalancePowerPercentage}} %</span> of your words are power words.
      Power words or phrases indicate intense trigger words that frequently command a readers attention and action.
      Great headlines contain at least 1 power phrase or word.
      <span class='bold'>Examples of power phrases: for the first time, in the world, make you, no questions asked,
      pay zero, thing I've ever seen, what this, will make you, you see what, you need to know, you see, what happened to...</span>
    </li>
  </ul>
{{/unless}}

{{#if hasTypeSuggestions}}
  <h4>Other Advice</h4>
  <ul>
    <li>{{typeMessage}} {{typeSuggestion}}</li>
  </ul>
{{/if}}
